.myheader .ali {
  background-color: teal;
}



.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}


.signout {
  all: unset;
  padding: 8px 15px;
}

/* ==================
    3. header of mobile
===================== */



@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  animation: down 1s 1;
}


.logo:hover {
  font-size: x-large;
}
.main-list {
  padding: 10px 20px;
  font-size: 19px;
  position: relative;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,  .main-link.active{
  color: cyan;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}
ul.lang-box{
  display: none;
  position: absolute;
  background: #000000;
  width: 150px;
  color: rgb(0, 135, 253);
  padding: 11px;
  top: 40px;
  right: -5px;
  border-radius: 8px;

}
ul.lang-box li {
padding: 8px;
  border-bottom: rgb(194, 194, 194) solid 1px ;
  line-height: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: center;
}
ul.lang-box li:last-child{
  border-bottom: none;
}
.fa-check{
color: rgb(43, 214, 43);
}
ul.lang-box li:hover{
  cursor: pointer;
}
li.lang{
font-size: 18px;
position: relative;
}
li.lang ul.flex{
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
ul.lang-box:hover{
  display: block;
}
li.lang:hover ul.lang-box{
display: block;
}